
 <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table, 
      // instantiates the chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', 'Office Temp');
      data.addColumn('number', 'HVAC Temp');
      data.addColumn('number', 'Outside Temp');
      data.addRows([
      {% for sample in latest_sample_list %}
        [{{ sample.nicetimestamp }}, {{ sample.officetemp }}, {{ sample.hvactemp }}, {{ sample.outsidesouthtemp }}],
      {% endfor %}
      ]);

      // Set chart options
      var options = {'title':'Home Temperatures - Last Hour',
                     'width':800,
                     'height':300};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);

      // Create the data table.
      var data2 = new google.visualization.DataTable();
      data2.addColumn('datetime', 'Time');
      data2.addColumn('number', 'Office Temp');
      data2.addColumn('number', 'HVAC Temp');
      data2.addColumn('number', 'Outside Temp');
      data2.addRows([
      {% for sample in last_twentyfour_hours_list %}
        [{{ sample.nicetimestamp }}, {{ sample.officetemp }}, {{ sample.hvactemp }}, {{ sample.outsidesouthtemp }}],
      {% endfor %}
      ]);

      // Set chart options
      var options2 = {'title':'Home Temperatures - Last Twenty Four Hours',
                     'width':800,
                     'height':300};

      // Instantiate and draw our chart, passing in some options.
      var chart2 = new google.visualization.LineChart(document.getElementById('chart2_div'));
      chart2.draw(data2, options2);

    }
    </script>

<div id="chart_div" style="width:400; height:300"></div>
<div id="chart2_div" style="width:400; height:400"></div>

{% if latest_sample_list %}
    <ul>
    {% for sample in latest_sample_list %}
        <li>{{ sample }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No samples are available.</p>
{% endif %}
